<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.masterConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Administrator\Desktop\Visual Studio 2005\WebSites\iechealth\master.oracle&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>